
<div class="text-white text-center my-2">
  {{selectedTaskName}}
</div>

<div class="w-136 mx-auto flex flex-col py-4">
  <div class="flex justify-between pb-3">
    <p class="text-white text-xl font-bold">Tasks</p>
    <button
    id="dropdownDefault"
      class="rounded bg-lime-400 px-0.5 hover:-translate-y-1 hover:scale-110"
      data-dropdown-toggle="dropdown"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2.5"
        stroke="white"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z"
        />
      </svg>
    </button>
    
  </div>

  <hr/>

  <div class="flex flex-col py-2">
    <app-task-item
      *ngFor="let task of tasks; let i = index"
      [task]="task"
      [index]="i"
    ></app-task-item>
  </div>

    <button
    *ngIf="editMode"
    (click)="onAddTask()"
      class="border-dashed border-2 rounded h-16 text-white bg-lime-400 text-xl font-bold opacity-75 hover:opacity-90"
    >
      <div class="flex flex-row justify-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-6 h-6"
        >
          <path
            fill-rule="evenodd"
            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 9a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V15a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V9z"
            clip-rule="evenodd"
          />
        </svg>
        <p class="pl-2">Add Task</p>
      </div>
    </button>
    <app-task-edit *ngIf="!editMode" (cancel)="CancelEdit()" [editMode]="editMode"></app-task-edit>

</div>
