<div class="text-white text-center my-2">
  {{ selectedTaskName }}
</div>

<div class="w-136 mx-auto flex flex-col py-4">
  <div class="flex justify-between pb-3">
    <p class="text-white text-xl font-bold">Tasks</p>
    <button
        (click)="toggleDropdown($event)"
        #btnDropdownRef
      class="rounded bg-lime-400 px-0.5 hover:-translate-y-1 hover:scale-110"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2.5"
        stroke="white"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z"
        />
      </svg>
    </button>
<div #popoverDropdownRef class="z-50 left-14" style="min-width: 12rem">
    <ul class="bg-white text-gray-700 px-2 text-base z-50 py-2 list-none rounded shadow-lg mt-1"
    style="min-width: 12rem" [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'">
      <li><a (click)="onClearFinished()" style="cursor:pointer;" class="flex flex-row content-center" >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mt-0.5 mx-1">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
        </svg>        
        Clear Finished Tasks</a></li>
      <li><a (click)="onClearDone()" style="cursor:pointer"  class="flex flex-row content-center" >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mt-0.5 mx-1">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
        
        Clear Pomodoros Done</a></li>
      <li><a (click)="onDeleteAllTasks()" style="cursor:pointer" class="flex flex-row content-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mt-0.5 mx-1">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
        </svg>        
        Delete all tasks</a></li>
  </ul>
  </div>
  </div>

  <hr />

  <div class="flex flex-col py-2">
    <app-task-item
      *ngFor="let task of tasks; let i = index"
      [task]="task"
      [index]="i"
    ></app-task-item>
  </div>

  <button
    *ngIf="editMode"
    (click)="onAddTask()"
    class="border-dashed border-2 rounded h-16 text-white bg-lime-400 text-xl font-bold opacity-75 hover:opacity-90"
  >
    <div class="flex flex-row justify-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-6 h-6"
      >
        <path
          fill-rule="evenodd"
          d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 9a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V15a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V9z"
          clip-rule="evenodd"
        />
      </svg>
      <p class="pl-2">Add Task</p>
    </div>
  </button>
  <app-task-edit
    *ngIf="!editMode"
    (cancel)="CancelEdit()"
    [editMode]="editMode"
  ></app-task-edit>
</div>

<div
  class="flex flex-row items-center justify-around bg-lime-400 shadow-inner rounded border-b border-b-white h-14 w-136 mx-auto mt-2 mb-10 text-white"
>
  <p>
    Estimated:
    <span class="font-bold text-lg">{{totalEstimated}}</span>
  </p>
  <p>
    Done:
    <span class="font-bold text-lg">{{totalDone}}</span>
  </p>
  <p>
    Finish Time:
    <span class="font-bold text-lg">{{finishTime}}</span>
  </p>
</div>
