<div class="font-poppins flex flex-col container mx-auto text-center w-96">
    <p class="pt-20 font-bold text-white text-2xl">
       Reset Password
    </p>
    
    <div class="flex flex-col bg-white rounded shadow-inner h-56 mt-12">
    
    <div class="text-gray-500 mt-8 mx-auto ">
    <form class="flex flex-col" action="">
    <label for="email" class="w-14">Email</label>
    <input class="bg-gray-200 w-80 h-10 rounded mb-5 px-2" type="email">
    

    <button type="submit" class="mx-auto w-80 text-white py-2 mt-7 bg-gray-700 rounded ">
      Reset Password
    </button>
        </form>
    </div> 
    </div>
    
    </div>
    
    <div class="container mx-auto text-center mt-4 text-white">
        <p class="mb-2">Go Back To Login Page?</p>  
        <button type="button" class="font-semibold underline">
           Login
        </button>
    </div>
    